.card{
    width: 18rem!important;
}
.card{
    border: 1px solid rgba(255,168,39,255)!important;
}
.card__button{
    border: none;
    background-color: rgba(255,193,7,1);
}
.card__button:hover{
    background-color: rgba(255,168,39,255);
}
.test-bg{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(82 82 45 / 77%);
}
.test{
    position: fixed;
    z-index: 2;
    top: 10%;
    left: 40%;
    margin-left: -20%;
    height: 80%;
    width: 60%;
    background-color: wheat;
}
.ansList{
    list-style-type: none;
}
.test__button{
    width: 49%;
    border: none;
    background-color: rgba(255,193,7,1);
}
.test__button:hover{
    background-color: rgba(255,168,39,255);
}